# This file is the top-most EditorConfig file
root = true

[*.{cs, razor}]
file_header_template = MIT License.\nCopyright (c) 2024 Caleb BENGUELET, @Bengbenz\nSee more info in [LICENSE] file.
dotnet_diagnostic.CA2007.severity = none 
dotnet_diagnostic.CA1303.severity = none 

[Migrations.cs]

[*Test.cs]
dotnet_diagnostic.CA1707.severity = none